h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; 
}

button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #d0d0d0;
}